body {
  background: #F3E0F9;
}

.navbar {
  top: 0;
  transition: all ease-in-out 0.5s;
  /*z-index: 9997;*/
  transition: all 0.5s;
  padding: 6px 15px;
  background: #c4c4c4;
  /*overflow-y: auto;*/
}

.navbar > a {
  /*float: left;*/
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

section {
  padding: 20px 10px;
  overflow: hidden;
}

.my-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

.my-grid > div {
  padding: 10px;
  background-color: seagreen;
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}


footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 9px;
  bottom: 0;
  /*width: 300px;*/
  z-index: 9999;
  background: #c4c4c4;
  text-align: center;
}